.Register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url('https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-size: cover;
}
.register-container{
    border: 2px solid rgba(0, 0, 0, 0.291);
    padding: 30px;
    width: 25%;
    height: 70%;
    background-color: rgba(0, 128, 128, 0.484);
    border-radius: 20px;
    box-shadow: 5px 5px 5px 8px rgba(0, 0, 0, 0.479);
}
.RegisterTitle{
    font-size: 30px;
    font-style: 50px;
    font-weight: 700;
}
.RegisterForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.RegisterForm > label{
    margin: 10px 0;
}
.RegisterInput{
    padding: 10px;
    background-color: white;
    border: none;
}
.RegisterButton{
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background-color: teal;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.LoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}