.singlePost{
    flex: 9;
    padding: 5px;
    
}

.singlePostWrapper{
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}

.singlePostImg{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit:cover;
}

.singlePostTitle{
    text-align:center;
    font-family: 'Lora',serif;
    font-size: 28px;

}

.singlePostEdit{
    float: right;
    font-size: 16px;
}
.singlePostIcon{
    margin-left: 10px;
    cursor: pointer;
}
.singlePostIcon:first-child{
    color: teal;
}
.singlePostIcon:last-child
{
    color: tomato;
}
.singlePostInfo{
margin-bottom: 20px;
display: flex;
justify-content: space-between;
font-size: 16px;
color: #b39656;

}

.singlePostDesc{
    color: #666;
    font-size: 18px;
    line-height: 25px;
}
.singlePostDesc::first-letter{
    margin-left: 0px;
    font-size: 30px;
    font-weight: 600px;
}

.singlePostTitleInput{
    margin: 10px;
    font-family: "lora",serif;
    font-size: 28px;
    text-align: center;
    border: none;
    border-bottom: 1px solid gray;
    width: 100%;
}

.singlePostTitleInput:focus{
   outline: none;
}
.singlePostDescInput{
border: none;
color: #6666;
font-size: 18px;
line-height: 25px;
height: 80px;
width: 100%;
}
.singlePostDescInput:focus{
    outline: none;
    }
    .singlePostButton{
        border: none;
        border-color: teal;
        width: 100px;
        padding: 5px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        align-items: flex-end;
        margin-top: 20px;
        background-color: teal;
    }

    .singlePostCancleButton{
        border: none;
        border-color: teal;
        width: 100px;
        padding: 5px;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        align-items: flex-end;
        margin-top: 20px;
        background-color: lightcoral;
    }
    .singlePostButtonContainer{
        width: 30%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }